<div>
  <div class="page-header">
    <h1>Trakter</h1>
    <hr>
  </div>
  <div class="grid-items">
    <%= link_to(export_path, class: 'grid-item') do %>
      <h1>Export</h1>
      <p>Export history from MyEpisodes</p>
    <% end %>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Import</h1>
      <p>Import CSV to Trakt.tv</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Transfer</h1>
      <p>Transfer history from MyEpisodes to Trakt.tv</p>
    </a>
  </div>
</div>
