<section id="export">
  <%= form_tag('/export', id: 'export-form') do %>
    <ul class="block-items">
      <li class="block-item">
        <%= text_field_tag(:username, nil, placeholder: 'MyEpisodes username', required: true) %>
      </li>
      <li class="block-item">
        <%= password_field_tag(:password, nil, placeholder: 'MyEpisodes password', required: true) %>
      </li>
      <li class="block-item">
        <%= submit_tag('Export') %>
      </li>
    </ul>
  <% end %>
</section>
