<div class="page-header">
  <h1>Export history from MyEpisodes</h1>
  <hr>
</div>
<section id="export">
  <aside>
    <%= form_tag('/export', id: 'export-form') do %>
      <%= text_field_tag(:username, nil, placeholder: 'Your MyEpisodes username', required: true) %>
      <%= password_field_tag(:password, nil, placeholder: 'Your MyEpisodes password', required: true) %>
      <%= submit_tag('Export') %>
    <% end %>
  </aside>
</section>
