section {
  #export {
    @include shift(1);
    @include clearfix;
    border-left: 1px solid #e6e6e6;
    padding-left: 2em;

    form {
      @include clearfix;
      padding-top: .7em;

      input {
        &.error {
          border-color: red;
        }
      }

      input[type="submit"] {
        line-height: normal;
        padding: .5em 1.5em;
      }

      ul {
        @include clearfix;
      }

      li {
        &.block-item {
          @include span-columns(4);
        }
      }
    }
  }
}
