---
http_interactions:
- request:
    method: post
    uri: https://api.trakt.tv/account/test/DEMO_API_KEY
    body:
      encoding: UTF-8
      string: '{"username":"demo","password":"89e495e7941cf9e40e6980d14a16bf023ccd4c91"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"all good!"}'
  recorded_at: Sun, 17 Aug 2014 14:36:49 GMT
- request:
    method: post
    uri: https://api.trakt.tv/account/test/FAULTY_API_KEY
    body:
      encoding: UTF-8
      string: '{"username":"blupp","password":"89e495e7941cf9e40e6980d14a16bf023ccd4c91"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"failure","error":"failed authentication"}'
  recorded_at: Sun, 17 Aug 2014 14:37:22 GMT
